data/
EEGForMachineLearningDeepLearning/BCICIV_2a_gdf/
EEGForMachineLearningDeepLearning/dataverse_files/
EEGForMachineLearningDeepLearning/EEGs_Guinea-Bissau/
EEGForMachineLearningDeepLearning/lightning_logs/
EEGForMachineLearningDeepLearning/scaleogram/
EEGForMachineLearningDeepLearning/archive.zip
EEGForMachineLearningDeepLearning/BCICIV_2a_gdf.zip
EEGForMachineLearningDeepLearning/data.zip
EEGForMachineLearningDeepLearning/dataverse_files.zip
EEGForMachineLearningDeepLearning/EEGs_Guinea-Bissau.zip
EEGForMachineLearningDeepLearning/lightning_logs
EEGForMachineLearningDeepLearning/scaleogram/*
EEGForMachineLearningDeepLearning/v3.0.1
scaleogram/
v3.0.1/
lightning_logs/
EEG_SINTETICO_FINAL/lightning_logs/version_0/checkpoints/